.addpost__main {
    background-color: lightblue;
    height: 45px;
}

form {
    display: flex;
    justify-content: center;
}

.mantine-12sbrde {
    margin-left: 20px;
}

.add_button {
    width: 6em;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    background-color: #228be6;
    font-weight: bold;
    color: white;
    cursor: pointer;
}